version: "3"

services:
  miservicio_php:
    build:
      context: .
      dockerfile: php7-apache.dockerfile
    volumes:
      - .:/var/www/vendingmachine
      - ./envconfig/sites-available:/etc/apache2/sites-available
      - ./envconfig/sites-enabled:/etc/apache2/sites-enabled
    expose:
      - 80
    ports:
      - 8181:80
    extra_hosts:
      # añadimos nuevas líneas al /etc/hosts (análogo al paŕametro docker --add-host):
      - "vendingmachine.local:127.0.0.1"
      - "vendingmachine.local:::1"

    restart: always